{% extends "Visual/plantillaPadre.html" %}
{% load static %}
{% load poll_extras_rene_app %}

{% block titulo %}
Editar Tipo De Fruto
{% endblock %}

{% block contenido %}
<div class="row  mb-4">
                    <div class="col d-flex justify-content-center">
                        <h6 class="display-4 text-center">Editar Fruto</h6>

                    </div>

                </div>
<div class="row mt-3">
                    <div class="col-12 col-lg-6">
                        <div class="container h-100 ">

                            <div class="row mb-lg-3">
                                <div class="col">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                                        </div>
                                        <input id="idTextoNombreNombre" maxlength="50"
                                               type="text" class="form-control"
                                            placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1"
                                            data-toggle="tooltip" data-placement="right" title="Nombre del Fruto">
                                        <div id="idTextoNombreNombre_MensajeInvalidoBoostrap" class="invalid-feedback">
                                            Please select a valid state.
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row mb-lg-3">
                                <div class="col">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Variedad</span>
                                        </div>
                                        <input id="idTextoTipoDeFruto" maxlength="50"
                                               type="text" class="form-control "
                                            data-toggle="tooltip" data-placement="right" title="Variedad del Fruto"
                                            placeholder="Variedad" aria-label="Variedad"
                                            aria-describedby="basic-addon2">
                                        <div id="idTextoTipoDeFruto_MensajeInvalidoBoostrap" class="invalid-feedback">
                                            otro mal.
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">Nombre Científico </span>
                                        </div>
                                        <input id="idTextoNombreCientifico" maxlength="50"
                                               type="text" class="form-control "
                                            data-toggle="tooltip" data-placement="right"
                                            title="Nombre Científico del Fruto" placeholder="Nombre Científico"
                                            aria-label="Nombre Científico" aria-describedby="basic-addon2">
                                        <div id="idTextoNombreCientifico_MensajeInvalidoBoostrap"
                                            class="invalid-feedback">
                                            otro mal.
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>


                    <div class="col-12 col-lg-6 border border-primary p-2 rounded mouse_togle d-flex  align-items-center"
                        id="idDisparadorDeClick" style="min-height: 200px;" data-toggle="tooltip" data-placement="top"
                        title="Seleccione una imagen que represente al fruto ">
                        <div class="container">
                            <div class="row">
                                <div id="idMensajeImagenInvalida" class="alert alert-danger w-100 text-center" role="alert" style="display: none;">
                                    A simple warning alert—check it out!
                                </div>
                                <input style="display: none;" id="idFileDeImagen" type="file" name="mi-archivo"
                                    aria-label="mi-archivo">
                                <div id="idFileDeImagen_MensajeInvalidoBoostrap" class="invalid-feedback">
                                    otro mal.
                                </div>
                            </div>
                            <div class="row h-100 d-flex justify-content-center">
                                <i id="idIconoDeCargaDeImagen" class="fas fa-camera  " style="font-size: 100px;"></i>
                                <img id="idImagen" src="" class=" w-100" />
                            </div>


                            <!-- fas fa-search
                                <div class="row">



                                <div class="col-12 col-md-2 col-lg-2 ">


                                    <button  type="button" id="idBotonBuscarImagen" class="btn btn-light  pb-2">Seleccionar</button>

                                  </div>
                                  <div class="col-12 col-md-9 col-lg-10 ">

                                    <div class="form-outline form-white input-group ">
                                      <input id="idInputAVerImagenSuvida" type="text" class="form-control " placeholder="Imagen"
                                        aria-label="Imagen" aria-describedby="basic-addon1" disabled value="Imagen" />
                                    </div>

                                  </div>


                            </div> -->


                        </div>


                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col">
                        <!-- <textarea name="Descripcion" class=" ckeditor" id="id_Descripcion" rows="3" ></textarea> -->
                        <textarea class="ckeditor" name="editor1" id="editor1">
                            {{ datosFruto.descripcion|conHTML }}
                        </textarea>

                        <div id="editor1_MensajeInvalidoBoostrap" class="invalid-feedback">
                            otro mal.
                        </div>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col d-flex justify-content-center">
                        <button id="idBotonAgregar" type="button" class="btn btn-dark btn-lg">Editar</button>
                    </div>

                </div>

                <div id="idDlgHayCamposInvalidos" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog"
                    style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="dripicons-information h1 text-dark"></i>
                                    <h4 class="mt-2 text-dark">Aviso</h4>
                                    <p class="mt-3 text-dark">Existen campos con informaciones erróneas!, por favor
                                        rectifique sus datos y vuelva a intentarlo </p>
                                    <p id="idSpamContenidoDlgHayCamposInvalidos" style="display: none;"
                                        class="mt-3 text-dark"></p>

                                    <button type="button" class="btn btn-info my-2" data-dismiss="modal">
                                        <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

                <div id="idDlgProgresoCancelar" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog"
                    style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="dripicons-information h1 text-info"></i>
                                    <h4 id="idTitulo_DlgProgresoCancelar"  class="mt-2">Subiendo Dataset </h4>
                                    <p id="idContenido_DlgProgresoCancelar" class="mt-3">Espere mientras se envía hacia nuestros servidores el Dataset
                                        seleccionado por usted previamente </p>

                                    <div id="idDivProgres_DlgProgresoCancelar" class="progress">

                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 75%" id="idBarraProgres_DlgProgresoCancelar">

                                        </div>
                                        <span id="idSpamProgres_DlgProgresoCancelar" class="text-center" style="width: 25%"> 0%
                                        </span>
                                    </div>
                                    <button id="idBoton_DlgProgresoCancelar" type="button"
                                        class="btn btn-info my-2" data-dismiss="modal">

                                        Detener </button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>


                <div id="idDlgEsperando" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog"
                    style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="dripicons-information h1 text-dark"></i>
                                    <h4 id="idTitulo_DlgEsperando" class="mt-2 text-dark">Aviso</h4>
                                    <p id="idContenido_DlgEsperando" class="mt-3 text-dark">Espere mientras ultimamos los detalles de la detención
                                        solicitada </p>


                                    <button type="button" class="btn btn-info my-2" data-dismiss="modal" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                            <span id="idSpamEsperando_DlgEsperando">Deteniendo</span>

                                    </button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>



                <div id="idDlgError" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog"
                    style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="dripicons-information h1 text-dark"></i>
                                    <h4 id="idTitulo_idDlgError" class="mt-2 text-dark">Aviso</h4>
                                    <p id="idContenido_DlgError" class="mt-3 text-dark">Le informamos de la existencia
                                        de un error interno del servidor </p>


                                    <button id="idBotonAceptar_DlgError"
                                            type="button" class="btn btn-info my-2" data-dismiss="modal">
                                        <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

                <div id="idDlgAceptarCancelarAdvertencia" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="fill-dark-modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-filled bg-dark">
                            <div class="modal-header">
                                <h4  id="idTitulo_DlgAceptarCancelarAdvertencia" class="modal-title">Detener el Entrenamiento</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div id="idContenido_DlgAceptarCancelarAdvertencia" class="modal-body">
                                <p>¿Estás seguro de detener el entrenamiento? Se perderá el progreso actual   </p>
                            </div>
                            <div class="modal-footer">
                                <button id="idBotonCancelar_DlgAceptarCancelarAdvertencia" type="button" class="btn btn-light" data-dismiss="modal">Cancelar </button>
                                <button id="idBotonAceptar_DlgAceptarCancelarAdvertencia" type="button" class="btn btn-outline-light" data-dismiss="modal">Detener</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->

                </div>


    <form id="idFormRecargarPagina"  method="post" action="/{{urls.URL_VISTA_LISTAR_FRUTO}}/">
        {% csrf_token %}
{#        <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>#}
{#        <input type="hidden" name="{{nombre_form_ubicacion_post}}" value="{{forms.GUARDAR_MODELO  }}">#}
    </form>
    <form id="idFormIrAListar"  method="get" action="/{{urlSalida}}/">
        {% csrf_token %}
{#        <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>#}
{#        <input type="hidden" name="{{nombre_form_ubicacion_post}}" value="{{forms.GUARDAR_MODELO  }}">#}
    </form>

    {#                                        <form   method="post" action="/{{urls.URL_POST_SUBIR_ARCHIVO}}/">#}
{#                                        {% csrf_token %}#}
                                        {#        <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>#}
                                        {#        <input type="hidden" name="{{nombre_form_ubicacion_post}}" value="{{forms.GUARDAR_MODELO  }}">#}
{#                                            </form>#}
{% endblock%}



{% block scripts_extras %}

    <script src="{% static 'js/Librerias/date.format.js' %}"></script>
    <script src="{% static 'js/Librerias/ckeditor/ckeditor.js' %}"></script>

    <script src="{% static 'js/reneJavaScritp/reneJS_UtilesDeLibrerias.js' %}"></script>
{#    <script src="{% static 'js/reneJavaScritp/reneJS_Componentes/reneJS_ListaSeleccionableMultiple.js' %}"></script>#}

    <script src="{% static 'js/reneJavaScritp/reneJS_Upload.js' %}"></script>
<div id="idReceptorDeHtml" style="display: none">

    </div>

<script>


const mngDlgError=new ManagerDlg_AceptarCancelar_Bootstrap("idDlgError");
mngDlgError.idContenido="idContenido_DlgError";
mngDlgError.idTitulo="idTitulo_idDlgError";
mngDlgError.setIdBotonAceptar("idBotonAceptar_DlgError");

const mngDlgEsperando=new ManagerDlg_Espera_ContenidoText_Bootstrap("idDlgEsperando");
mngDlgEsperando.idContenido="idContenido_DlgEsperando";
mngDlgEsperando.idTitulo="idTitulo_DlgEsperando";
mngDlgEsperando.idMensajeCargando="idSpamEsperando_DlgEsperando";


function showDlgError(){
    mngDlgError.showDlg("Advertencia "
    ,"Le informamos de la perdida de conexión con el servidor"
    ,"Aceptar",()=>{
        submit("idFormRecargarPagina");
        });
}

function showDlgFalloEnLaValidacion(mensaje){
    //estado.mostrandoMensajeDeErrorAceptar=true
    mngDlgError.showDlg("Datos Inválidos "
    ,mensaje
    ,"Aceptar",()=>{
        //estado.mostrandoMensajeDeErrorAceptar=false

        });
}
function showDlgFalloEnLaValidacionYVolverAListar(mensaje){
    //estado.mostrandoMensajeDeErrorAceptar=true
    mngDlgError.showDlg("Datos Inválidos "
    ,mensaje
    ,"Aceptar",()=>{
        //estado.mostrandoMensajeDeErrorAceptar=false
            showDlgEsperarRedirigir();
            submit("idFormIrAListar");
        });
}
function showDlgComprobandoObjeto(){
    mngDlgEsperando.setMensajeCargando("Espere");
    mngDlgEsperando.showDlg("Comprobando "
    ,"Espere mientras se comprueban los datos del fruto solicitado ");
}

function showDlgEsperarRedirigir(){
    mngDlgEsperando.setMensajeCargando("Espere");
    mngDlgEsperando.showDlg("Preparando "
    ,"Espere mientras se prepara la ventana siguiente ");
}

if(!{{ fueValido|lower }}){
    showDlgFalloEnLaValidacionYVolverAListar("{{ mensaje }}");
}else {


    const ID_INPUT_IMAGEN = "idFileDeImagen";
    const ID_B_AGREGAR = "idBotonAgregar";
    const ID_INPUT_NOMBRE = "idTextoNombreNombre";
    const ID_INPUT_VARIEDAD = "idTextoTipoDeFruto";
    const ID_INPUT_NOMBRE_CIENTIFICO = "idTextoNombreCientifico";

    setValue(ID_INPUT_NOMBRE,"{{ datosFruto.nombre }}");
    setValue(ID_INPUT_VARIEDAD,"{{ datosFruto.variedad }}");
    setValue(ID_INPUT_NOMBRE_CIENTIFICO,"{{ datosFruto.nombreCientifico }}");




    const ID_IMAGEN="idImagen";
    const ID_SUSTITUTO_IMAGEN="idIconoDeCargaDeImagen";

    ponerImagenAlCargar(ID_INPUT_IMAGEN, "idDisparadorDeClick", ID_IMAGEN,ID_SUSTITUTO_IMAGEN);


    const mgb=new ManagerCargaLentaImgBase64();
    mgb.setIdElementoQueSustituyeLaImagen(ID_SUSTITUTO_IMAGEN);
    mgb.setIdImagen(ID_IMAGEN);

    function noMostrarImg() {
        displayNone(ID_IMAGEN,true);
        displayNone(ID_SUSTITUTO_IMAGEN,true);
    }


     ejecutarAjax("/{{ urls.URL_POST_METODO_GET_IMG_DE_EJEMPLO_900_900_PX_FRUTO }}/",{
            "idDelFruto":"{{ datosFruto.id }}"

         },r=>{
        if(r.existeFruto){
            mgb.cargarImgBase64(r.imgBase64);

        }else{ noMostrarImg()}

    }
    ,r=>{
         noMostrarImg()
        });


    const MIN_CARACTERES = 4;
    const MAX_CARACTERES = 50;
    const V = new ValidacionConEventos_Boostrap();
    V.addText_CON_ALFANUMERICOS(ID_INPUT_NOMBRE).setMinCar(MIN_CARACTERES).setMaxCar(MAX_CARACTERES).setRespuestaValidacionDelServidor("asdef", "Ya existe este nombre");
    V.addText_CON_ALFANUMERICOS(ID_INPUT_VARIEDAD).setMinCar(MIN_CARACTERES).setMaxCar(MAX_CARACTERES);
    V.addText_CON_ALFANUMERICOS(ID_INPUT_NOMBRE_CIENTIFICO).setMinCar(MIN_CARACTERES).setMaxCar(MAX_CARACTERES);

    V.addInputFileImagen(ID_INPUT_IMAGEN, v => notEmpty_ArchivoEnInput(ID_INPUT_IMAGEN)).verAlSerInvalido("idMensajeImagenInvalida");

    V.addBotonADesactivar(ID_B_AGREGAR);
    V.comprovarValidacionYDesactivar();


    addOnClick(ID_B_AGREGAR, ve => {
        showDlgComprobandoObjeto()
        uploadAjaxImagen(ID_INPUT_IMAGEN, "/{{ urls.URL_POST_METODO_INTENTAR_EDITAR_FRUTO }}/"
            , {
                "{{ form.nombre }}": getValue(ID_INPUT_NOMBRE)
                , "{{ form.variedad }}": getValue(ID_INPUT_VARIEDAD)
                , "{{ form.nombreCientifico }}": getValue(ID_INPUT_NOMBRE_CIENTIFICO)
                , "{{ form.descripcion }}": CKEDITOR.instances.editor1.getData()
                ,"{{ form.id }}": "{{ datosFruto.id }}"
            }
            , r => {
                if (!r.fueValido) {
                    mngDlgEsperando.hide();
                    showDlgFalloEnLaValidacion(r.mensaje);
                } else {
                    //alert('fue valido');
                    console.log("fue valido!!!!!!!!!!!");
                    submit("idFormIrAListar");
                }
            }
            , r => {
                mngDlgEsperando.hide()
                showDlgError();
            }, "{{ form.ArchivoImagen }}", "{{ form.nombreImagen }}","{{ form.agregoUnaNuevaImagen }}");
    });

    simularClick(ID_INPUT_NOMBRE);
}
        </script>

{% endblock%}
