{% extends "Visual/plantillaPadre.html" %}
{% load static %}
{% load poll_extras_rene_app %}

{% block titulo %}
Listar Usuarios
{% endblock %}

{% block contenido %}
<style>
        .Activo{
            color: green;
        }
        .Baneado{
            color: red;
        }
    </style>

    <div class="row  justify-content-between">
                    <div class=" col-10">
                            <div class="input-group">
                                <input name="{{nombre_text_filtro}}" id="idTextoFiltro" type="text" class="form-control"
                                    aria-label="Text input with segmented dropdown button">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary "><i class="fas fa-search"></i></button>
                                    <button type="button" class="btn btn-secondary  dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-angle-down"></i>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu ">
                                        <label class="btn btn-outline btn-info dropdown-item">
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="idCBFiltroFecha" name="{{nombre_radio_filtro}}" value="idCBFiltroFecha"
                                                    class="custom-control-input" >
                                                <label class="custom-control-label" for="idCBFiltroFecha">
                                                    Fecha</label>
                                            </div>
                                        </label>

                                        <label class="btn btn-outline btn-info dropdown-item">
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="idCBFiltroUsuario" name="{{nombre_radio_filtro}}" value="idCBFiltroUsuario"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="idCBFiltroUsuario">
                                                    Usuario</label>
                                            </div>
                                        </label>
                                        <label class="btn btn-outline btn-info dropdown-item">
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="idCBFiltroNombre" name="{{nombre_radio_filtro}}" value="idCBFiltroNombre"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="idCBFiltroNombre">
                                                    Nombre</label>
                                            </div>
                                        </label>
                                        <label class="btn btn-outline btn-info dropdown-item">
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="idCBFiltroApellidos" name="{{nombre_radio_filtro}}" value="idCBFiltroApellidos"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="idCBFiltroApellidos">
                                                    Apellidos</label>
                                            </div>
                                        </label>
                                        <label class="btn btn-outline btn-info dropdown-item">
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="idCBFiltroActivo" name="{{nombre_radio_filtro}}" value="idCBFiltroActivo"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="idCBFiltroActivo">
                                                    Activo</label>
                                            </div>
                                        </label>
                                        <label class="btn btn-outline btn-info dropdown-item">
                                            <div class="custom-control custom-radio">
                                                <input type="checkbox" id="idCBFiltroPermisos" name="{{nombre_radio_filtro}}" value="idCBFiltroCorreo"
                                                    class="custom-control-input">
                                                <label class="custom-control-label" for="idCBFiltroPermisos">
                                                    Permisos</label>
                                            </div>
                                        </label>





                                        <div role="separator" class="dropdown-divider"></div>
                                        <label class="btn btn-outline btn-info dropdown-item">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="idCBFiltroTodos" name="{{nombre_radio_filtro}}" value="idCBFiltroTodos"
                                                    class="custom-control-input" checked>
                                                <label class="custom-control-label" for="idCBFiltroTodos">
                                                    Todos</label>
                                            </div>
                                        </label>

                                    </div>
                                </div>
                            </div>

                    </div>

                    <div class="col-1  ">

                        <div class="input-group d-flex justify-content-end">
                            <div class="input-group-append ">
                                <button id="idBDireccionDeOrden" type="button" class="btn btn-secondary ">

                                    <i id="idIconoDireccionDeOrden" class="fas fa-search"></i></button>
                                <button type="button" class="btn btn-secondary  dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i id="idIconoOrdenSeleccionado" class="fas fa-angle-down"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu ">
                                    <label class="btn btn-outline btn-info dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="idCBOrdenarFecha" name="ordenarUsuarios" value="idCBOrdenarFecha"
                                                class="custom-control-input" >
                                            <label class="custom-control-label" for="idCBOrdenarFecha">
                                                Fecha</label>
                                        </div>
                                    </label>

                                    <label class="btn btn-outline btn-info dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="idCBOrdenarUsuario" name="ordenarUsuarios" value="idCBOrdenarUsuario"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="idCBOrdenarUsuario">
                                                Usuario</label>
                                        </div>
                                    </label>
                                    <label class="btn btn-outline btn-info dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="idCBOrdenarNombre" name="ordenarUsuarios" value="idCBOrdenarNombre"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="idCBOrdenarNombre">
                                                Nombre</label>
                                        </div>
                                    </label>
                                    <label class="btn btn-outline btn-info dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="idCBOrdenarApellidos" name="ordenarUsuarios" value="idCBOrdenarApellidos"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="idCBOrdenarApellidos">
                                                Apellidos</label>
                                        </div>
                                    </label>


                                    <label class="btn btn-outline btn-info dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="idCBOrdenarActivo" name="ordenarUsuarios" value="idCBOrdenarActivo"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="idCBOrdenarActivo">
                                                Activo  </label>
                                        </div>
                                    </label>
                                    <label class="btn btn-outline btn-info dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="idCBOrdenarPermisos" name="ordenarUsuarios" value="idCBOrdenarPermisos"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="idCBOrdenarPermisos">
                                                Permisos</label>
                                        </div>
                                    </label>




                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- active -->
             <div class="row">
                    <div class="col w-100 overflow-auto mt-2 " style="max-height: 400px; min-height: 400px;">

                <ul id="idListaDeObjetos" class="list-group  mt-3">
                    <li onclick="es.setIdSeleccionado('{id}')" id="{idItem}" class="list-group-item   iten_navegacion_carpeta">
                      <div class="container">

                        <div class="row align-items-center  justify-content-between ">

                            <div class="col-4 col-sm-4 col-md-4 col-lg-2 text-truncate text-truncate">
                              {Usuario}
                            </div>
                            <div class="col-2 col-lg-2 text-truncate v-sm  text-truncate">
                              {Nombre}
                            </div>
                            <div class="col-3 col-md-3 col-lg-3 v-lg  text-truncate {Activo}">
                              {Activo}
                            </div>
                            <div class="col-3 col-md-2 col-lg-2 v-smx ">
                              <div class="row text-truncate font-weight-lighter text-truncate text-muted subtexto_iten_navegacion h-sm">{Nombre}</div>
                              <div class="row text-truncate font-weight-lighter text-truncate text-muted subtexto_iten_navegacion {Activo} v-sm h-lg">{Activo}</div>
                              <div class="row text-truncate font-weight-lighter text-truncate text-muted subtexto_iten_navegacion v-lg">{Apellidos}</div>
                              <div class="row text-truncate font-weight-lighter text-truncate text-muted subtexto_iten_navegacion">{Permisos}</div>
                              <div class="row text-truncate font-weight-lighter text-truncate text-muted subtexto_iten_navegacion">{Fecha}</div>
                            </div>

                            <div class="col-4 col-md-2 col-lg-2 mr-o-smx-4 d-flex justify-content-center text-truncate">
                              <button onclick="alApretarEnDetalles('{id}')" type="button" class="btn  btn-dark boton_en_navegacion mr-1"
                              data-toggle="tooltip" data-placement="top" title="Detalles"
                              >
                                  <i class="far fa-question-circle"></i>
                              </button>
                              <button onclick="alApretarEnEditar('{id}')" type="button" class="btn  btn-dark boton_en_navegacion mr-1"
                              data-toggle="tooltip" data-placement="top" title="Editar"
                              >
                                  <i class="fas fa-pencil-alt"></i>
                              </button>
                              <button onclick="alApretarEnEliminar('{id}')" type="button" class="btn  btn-dark boton_en_navegacion"
                              data-toggle="tooltip" data-placement="top" title="Eliminar"

                              >
                                  <i class=" fas fa-times" style="padding: 3px;"></i>
                              </button>
                            </div>

                        </div>


                      </div>





                    </li>

                  </ul>

                     </div>

             </div>




<div class="row mt-3 d-flex flex-sm-row-reverse ">

                    <div class="col-12 col-sm-2 d-flex justify-content-center flex-sm-row-reverse">
                        <button id="idBotonAgregar" type="button" class="btn btn-success btn-lg">
                            <span class="mr-1" >Agregar</span>

                            <i class="fas fa-plus"></i>
                        </button>
                    </div>

                    <div class="col-12 col-sm-4 d-flex justify-content-center flex-sm-row-reverse mt-3 mt-sm-0">
                        <button id="idBotonEliminarSeleccionados" type="button" class="btn btn-danger btn-lg">
                            <span class="mr-1" >Eliminar Seleccionados</span>

                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    {% comment %}<div class="col-12 col-sm-3 d-flex justify-content-center flex-sm-row-reverse mt-3 mt-sm-0">
                        <button id="idBotonEliminarTodos" type="button" class="btn btn-danger btn-lg">
                            <span class="mr-1" >Eliminar Todos</span>

                            <i class="fas fa-exclamation-triangle"></i>

                        </button>
                    </div>
{% endcomment %}



                </div>






<div id="idDlgHayCamposInvalidos" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog"
                    style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="dripicons-information h1 text-dark"></i>
                                    <h4 class="mt-2 text-dark">Aviso</h4>
                                    <p class="mt-3 text-dark">Existen campos con informaciones erróneas!, por favor
                                        rectifique sus datos y vuelva a intentarlo </p>
                                    <p id="idSpamContenidoDlgHayCamposInvalidos" style="display: none;"
                                        class="mt-3 text-dark"></p>

                                    <button type="button" class="btn btn-info my-2" data-dismiss="modal">
                                        <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

                <div id="idDlgEsperando" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog"
                    style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="dripicons-information h1 text-dark"></i>
                                    <h4 id="idTitulo_DlgEsperando" class="mt-2 text-dark">Aviso</h4>
                                    <p id="idContenido_DlgEsperando" class="mt-3 text-dark">Espere mientras ultimamos los detalles de la detención
                                        solicitada </p>


                                    <button type="button" class="btn btn-info my-2" data-dismiss="modal" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                            <span id="idSpamEsperando_DlgEsperando">Deteniendo</span>

                                    </button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>





                <div id="idDlgError" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog"
                    style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="dripicons-information h1 text-dark"></i>
                                    <h4 id="idTitulo_idDlgError" class="mt-2 text-dark">Aviso</h4>
                                    <p id="idContenido_DlgError" class="mt-3 text-dark">Le informamos de la existencia
                                        de un error interno del servidor </p>


                                    <button id="idBotonAceptar_DlgError" type="button" class="btn btn-info my-2" data-dismiss="modal">
                                        <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

                <div id="idDlgAceptarCancelarAdvertencia" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="fill-dark-modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-filled bg-dark">
                            <div class="modal-header">
                                <h4  id="idTitulo_DlgAceptarCancelarAdvertencia" class="modal-title">Detener el Entrenamiento</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div id="idContenido_DlgAceptarCancelarAdvertencia" class="modal-body">
                                <p>¿Estás seguro de detener el entrenamiento? Se perderá el progreso actual   </p>
                            </div>
                            <div class="modal-footer">
                                <button id="idBotonCancelar_DlgAceptarCancelarAdvertencia" type="button" class="btn btn-light" data-dismiss="modal">Cancelar </button>
                                <button id="idBotonAceptar_DlgAceptarCancelarAdvertencia"
                                data-dismiss="modal"
                                type="button" class="btn btn-outline-light">Detener</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->

                </div>

<form id="idFormRecargarPagina"  method="post" action="/{{urls.URL_VISTA_LISTAR_USUARIO}}/">
        {% csrf_token %}
{#        <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>#}
{#        <input type="hidden" name="{{nombre_form_ubicacion_post}}" value="{{forms.GUARDAR_MODELO  }}">#}
    </form>



<form id="idFormDetallesDelModelo"  method="post" action="/{{urls.URL_VISTA_LISTAR_USUARIO}}/">
        {% csrf_token %}
{#        <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>#}
        <input id="idHiden_FormDetallesDelModelo" type="hidden" name="idDelModelo" >
    </form>

    <form id="idFormEditarUsuario"  method="post" action="/{{urls.URL_VISTA_EDITAR_USUARIO}}/">
        {% csrf_token %}
{#        <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>#}
        <input type="hidden" id="idHiden_FormEditarUsuario" name="idDelUsuario" value="-1">
    </form>

    <form id="idFormDetallesUsuario"  method="post" action="/{{urls.URL_VISTA_DETALLES_USUARIO}}/">
        {% csrf_token %}
{#        <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>#}
        <input type="hidden" id="idHiden_FormDetallesUsuario" name="idDelUsuario" value="-1">
    </form>


{% endblock%}

{% block scripts_extras %}

    <script src="{% static 'js/Librerias/date.format.js' %}"></script>


    <script src="{% static 'js/reneJavaScritp/reneJS_UtilesDeLibrerias.js' %}"></script>

    <script src="{% static 'js/reneJavaScritp/reneJS_Componentes/reneJS_ListaSeleccionableMultiple.js' %}"></script>
    <script>

class Estado{
    constructor(){
        this.idSeleccionado=null;
    }
    setIdSeleccionado(id){
        this.idSeleccionado=id;
    }
}

const es=new Estado();

    const KEY_ID="id";
const KEY_NOMBRE="Nombre";
const KEY_USUARIO="Usuario";
const KEY_APELLIDOS="Apellidos";
const KEY_ACTIVO="Activo";
const KEY_PERMISOS="Permisos";
const KEY_FECHA="Fecha";

const KEY_ID_ITEM="idItem";


function vbdD(y,m,d){

    let va=new ValorBD(newDate(y,m,d));
    va.getStr=v=>{
        //console.log("pasa por aqui v="+v);
        let r=getStrFromDate(v,"mm/dd/yy hh:MM TT");
        return r;
    };
    return va;
}

const listaDeLlaves=[KEY_NOMBRE,KEY_USUARIO,KEY_APELLIDOS,KEY_ACTIVO,KEY_PERMISOS,KEY_FECHA]

const bd=new BD_RowElement();
bd.llaves=getCopia(listaDeLlaves);
bd.llaves.push(KEY_ID);
bd.listaDeNombresIds=[KEY_ID_ITEM];
let dat=newDate(2020,12,14);

function getTipoDePermisoStr(permiso) {
    return permiso=="{{ consts.PERMISO_ADMIN }}"?"administrador":(permiso=="{{ consts.PERMISO_INVESTIGADOR }}"?"investigador":"usuario");
}

{% for e in listaDatosDeUsuarios %}
    bd.addRow([
        "{{e.nombre}}"
    ,"{{ e.username }}"

    ,"{{ e.apellidos }}"
    ,({{ e.enable|lower }}?"Activo":"Baneado")

        ,getTipoDePermisoStr("{{ e.permiso }}")

        ,vbdD({{ e.fechaDeCreacion.year }},{{ e.fechaDeCreacion.month }},{{ e.fechaDeCreacion.day }})

        ,"{{ e.id }}"
    ]);
{% endfor %}



const ID_B_ELIMINAR_TODOS_LOS_SELECCIONADOS="idBotonEliminarSeleccionados";
//const ID_B_ELIMINAR_TODOS="idBotonEliminarTodos";
const L=new ListaSeleccionableMultiple();
L.bd=bd;
L.idLista="idListaDeObjetos";
L.KEY_ID_ITEM_LISTA=KEY_ID_ITEM;

function comprobarSiHaySeleccionados(){
    setDisabled(!L.haySeleccionado(),[ID_B_ELIMINAR_TODOS_LOS_SELECCIONADOS]);
}
L.addAlSeleccionar(comprobarSiHaySeleccionados);
L.addAlDeseleccionar(comprobarSiHaySeleccionados);
L.aplicarConfiguracion();

comprobarSiHaySeleccionados();



{% comment %}const mngRp=new ManagerRepetidor("idListaDeObjetos",bd);
mngRp.repetir();{% endcomment %}


const dt=new FiltroText_CByTodos_v2(bd);
dt.llaves=listaDeLlaves;
dt.setIdBaseElemtosAOcultar(KEY_ID_ITEM);
dt.IdCB_Todo="idCBFiltroTodos";
dt.setIdsCb([
    "idCBFiltroNombre"
    ,"idCBFiltroUsuario"
    ,"idCBFiltroApellidos"
    ,"idCBFiltroActivo"
    ,"idCBFiltroPermisos"
    ,"idCBFiltroFecha"
]);
dt.idText="idTextoFiltro";


dt.addAlTerminarDeFiltrar(()=>{
    L.deseleccionarTodo();
    //setDisabled(dt.indicesVisibles.length==0,[ID_B_ELIMINAR_TODOS]);
});

dt.aplicarConfiguracionToggle();
dt.setFiltroText();


or=new OrdenadorRB_Visual_BD(bd);
or.llaves=listaDeLlaves;
or.accionDespuesDeOrdenar=()=>{
    {% comment %}mngRp.repetir();
    //actualizarImagenes();
    dt.filtrar();{% endcomment %}

    L.actualizarVisual_APartirDeBD();
    //mngRp.repetir();
    //actualizarImagenes();
    // console.log("7todo seleccionado="+estaSeleccionado(dt.IdCB_Todo));
    dt.filtrar();
}
or.idBToggleOrdenamiento="idBDireccionDeOrden";
or.setMapIdsRByIcono(new Map([
    ["idCBOrdenarNombre","fas fa-address-card"]
    ,["idCBOrdenarUsuario","fas fa-user-circle" ]
    ,["idCBOrdenarApellidos","fas fa-address-card"]
    ,["idCBOrdenarActivo","fas fa-clipboard-check" ]
    ,["idCBOrdenarPermisos","fas fa-id-card-alt" ]
    ,["idCBOrdenarFecha","fas fa-calendar-alt"]
]));
or.idIconoOrdenSeleccionado="idIconoOrdenSeleccionado";
or.idIconoDireccionDeOrden="idIconoDireccionDeOrden";
or.iconoOrdenAscendente="fas fa-angle-double-down";
or.iconoOrdenDescendente="fas fa-angle-double-up";

or.aplicarConfiguracionToggle();
// console.log("1todo seleccionado="+estaSeleccionado(dt.IdCB_Todo));
or.aplicarConfiguracionVisual(1);

or.aplicarOrden();



const mngDlgAceptarCancelar=new ManagerDlg_AceptarCancelar_Bootstrap("idDlgAceptarCancelarAdvertencia");
mngDlgAceptarCancelar.idContenido="idContenido_DlgAceptarCancelarAdvertencia";
mngDlgAceptarCancelar.idTitulo="idTitulo_DlgAceptarCancelarAdvertencia";
mngDlgAceptarCancelar.setIdBotonAceptar("idBotonAceptar_DlgAceptarCancelarAdvertencia");
mngDlgAceptarCancelar.setIdBotonCancelar("idBotonCancelar_DlgAceptarCancelarAdvertencia")

const mngDlgEsperando=new ManagerDlg_Espera_ContenidoText_Bootstrap("idDlgEsperando");
mngDlgEsperando.idContenido="idContenido_DlgEsperando";
mngDlgEsperando.idTitulo="idTitulo_DlgEsperando";
mngDlgEsperando.idMensajeCargando="idSpamEsperando_DlgEsperando";




const mngDlgError=new ManagerDlg_AceptarCancelar_Bootstrap("idDlgError");
mngDlgError.idContenido="idContenido_DlgError";
mngDlgError.idTitulo="idTitulo_idDlgError";
mngDlgError.setIdBotonAceptar("idBotonAceptar_DlgError");

function showDlgError(){
    mngDlgError.showDlg("Advertencia "
    ,"Le informamos de la existencia de un error interno del servidor"
    ,"Aceptar",()=>{
        submit("idFormRecargarPagina");
        });
}
function showDlgErrorConMensaje(mensaje){
    mngDlgError.showDlg("Advertencia"
    ,mensaje
    ,"Aceptar",()=>{
       submit("idFormRecargarPagina");
        });
}

function showDlgEliminandoObjeto(){
    mngDlgEsperando.setMensajeCargando("Espere");
    mngDlgEsperando.showDlg("Eliminando "
    ,"Espere mientras se está eliminando los datos del usuario solicitado ");
}
function showDlgComprobandoObjeto(){
    mngDlgEsperando.setMensajeCargando("Espere");
    mngDlgEsperando.showDlg("Comprobando "
    ,"Espere mientras se comprueban los datos del usuario solicitado ");
}
function showDlgInfo_ObjetoEliminadoConExito(){
    mngDlgError.showDlg("Información "
    ,"El usuario solicitado fue eliminado con éxito"
    ,"Aceptar",()=>{

        });
    }

    function showDlgFalloEnLaValidacion(mensaje){
    //estado.mostrandoMensajeDeErrorAceptar=true
    mngDlgError.showDlg("Datos Inválidos "
    ,mensaje
    ,"Aceptar",()=>{
        //estado.mostrandoMensajeDeErrorAceptar=false

        });
}
function showDlgEliminarObjeto(){
    mngDlgAceptarCancelar.showDlg("Eliminar el usuario  "
    ,"Estas seguro de eliminar el usuario solicitado "
    ,"Eliminar",()=>{
        //showDlgEliminandoDataset();
        showDlgEliminandoObjeto();
        ejecutarAjax("/{{ urls.URL_POST_METODO_INTENTAR_ELIMINAR_USUARIO }}/"
            ,{"idDelUsuario":es.idSeleccionado}
        ,r=>{
            //console.log("r.existeDataset="+r.existeDataset);
            if(r.existeUsuario){
                if(r.fueValido){
                    for (let index = 0; index < bd.size(); index++) {
                        let fila = bd.getFila(index);
                        let mapActual = fila.map;

                        let idModelo=mapActual.get(KEY_ID);
                        if(idModelo===es.idSeleccionado){
                            L.remove(index);
                            break;
                        }
                    }
                    or.aplicarOrden();
                    mngDlgEsperando.hide();
                }else{
                    mngDlgEsperando.hide();
                    showDlgFalloEnLaValidacion(r.mensaje);
                }

            }else{
                mngDlgEsperando.hide();
                showDlgErrorConMensaje("El Usuario solicitado ya fue eliminado, por favor recargue la pagina ");
            }


        }
        ,r=>{
            console.log("error en mandar a eliminar usuario ");
            mngDlgEsperando.hide();
            showDlgError();
            });
    });
}

const ID_HIDEN_USARIO="idHiden_FormEditarUsuario";

function alApretarEnDetalles(id) {
    es.setIdSeleccionado(id);
    showDlgComprobandoObjeto();
    setValue("idHiden_FormDetallesUsuario",id);
    submit("idFormDetallesUsuario");
}

function alApretarEnEditar(id) {
    es.setIdSeleccionado(id);
     showDlgComprobandoObjeto();
    setValue(ID_HIDEN_USARIO,id);
    submit("idFormEditarUsuario");
}

function alApretarEnEliminar(id) {
    es.setIdSeleccionado(id);
    showDlgEliminarObjeto();
}




function showDlgEliminandoObjetos(){
    mngDlgEsperando.setMensajeCargando("Espere");
    mngDlgEsperando.showDlg("Eliminando "
    ,"Espere mientras se está eliminan los datos de los usuarios  ");
}
function showDlgEliminarSeleccionados(){
    mngDlgAceptarCancelar.showDlg("Eliminar los usuarios  "
    ,"Estas seguro de eliminar los usuarios solicitados "
    ,"Eliminar",()=>{
        showDlgEliminandoObjetos()

            const listaDeIds=[];
            for (let i = 0; i < L.indicesSeleccionados.length; i++) {
                let fila=bd.getFila(L.indicesSeleccionados[i]);
                let map=fila.map;
                listaDeIds.push(map.get(KEY_ID))
            }
        ejecutarAjax("/{{ urls.URL_POST_METODO_INTENTAR_ELIMINAR_TODOS_LOS_USUARIOS_SELECCIONADOS }}/"
            ,{"listaIds":listaDeIds}
        ,r=>{
            //console.log("r.existeDataset="+r.existeDataset);
            if(!r.dioError){
                 //bd.remove(L.indicesSeleccionados);
                L.removeLosSeleccionados();
                or.aplicarOrden();
                mngDlgEsperando.hide();
            }else{
                mngDlgEsperando.hide();
                showDlgErrorConMensaje(r.mensaje);
            }


        }
        ,r=>{
            console.log("error en mandar a eliminar modelo ");
            mngDlgEsperando.hide();
            showDlgError();
            });


    });
}

addOnClick(ID_B_ELIMINAR_TODOS_LOS_SELECCIONADOS,v=>{
    showDlgEliminarSeleccionados();
});
function showDlgEsperarAgregar(){
    mngDlgEsperando.setMensajeCargando("Espere");
    mngDlgEsperando.showDlg("Preparando "
    ,"Espere mientras se prepara la ventana siguiente ");
}
addOnClick("idBotonAgregar",v=>{
    showDlgEsperarAgregar();
    submit("idFormAgregar");
})


              </script>


    <form id="idFormAgregar"  method="post" action="/{{urls.URL_VISTA_AGREGAR_USUARIO}}/">
        {% csrf_token %}
{#        <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>#}
{#        <input type="hidden" name="{{nombre_form_ubicacion_post}}" value="{{forms.GUARDAR_MODELO  }}">#}
    </form>

{% endblock%}